<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <!-- NOTE:  install manually from https://www.nuget.org/packages/Selenium.WebDriver/4.8.2
https://www.nuget.org/api/v2/package/Selenium.WebDriver/4.8.2  -->
  <package id="Selenium.Support" version="4.8.2" targetFramework="net45" />
  <!-- NOTE:  install manually from https://www.nuget.org/packages/Selenium.Support/4.8.2 -->
  <package id="Selenium.WebDriver" version="4.8.2" targetFramework="net45" />
</packages>