<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1" verbose="10">
  <parameter name="selenium.host" value="localhost"/>
  <parameter name="selenium.port" value="4444"/>
  <parameter name="selenium.browser" value="firefox"/>
  <parameter name="selenium.run" value="remote"/>

  <test name="Selenium Browser Log Capture Test">
    <classes>
      <class name="com.mycompany.app.AppTest"/>
      <methods>
        <include name="LoggingTest"/>
      </methods>
    </classes>
  </test>
</suite>
