<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1" verbose="10">
  <parameter name="selenium.host" value="localhost"/>
  <parameter name="selenium.port" value="4444"/>
  <parameter name="selenium.browser" value="*firefox"/>
  <test name="AppTest test1">
    <classes>
      <class name="com.mycompany.app.AppTest"/>
      <methods>
        <include name="test1"/>
      </methods>
    </classes>
  </test>
</suite>
