<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net45" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net45" />
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="3.12.0" targetFramework="net45" />
  <package id="FluentAssertions" version="4.4.0" targetFramework="net45" />
  <!-- NOTE:  install manually -->
  <package id="Selenium.Support" version="4.8.2" targetFramework="net45" />
  <!-- NOTE:  install manually -->
  <package id="Selenium.WebDriver" version="4.8.2" targetFramework="net45" />
  <!-- NOTE: testing on the computer which runs Windows 8.1. Chrome Version 109.0.5414.149 is the latest available for that OS. To get later Google Chrome updates, need Windows 10 or later -->	
  <package id="Selenium.WebDriver.ChromeDriver" version="109.0.5414.7400" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>
