<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Timer units="Milliseconds" Comment="Currently Unused">3600000</Timer>
  <ProcessDetection>
    <Process>
      <ProcessName>WfWI</ProcessName>
    </Process>
    <Process example="1">
      <ProcessName>SampleApp</ProcessName>
    </Process>
    <Process>
      <ProcessName>SoapSuds</ProcessName>
    </Process>
    <Process>
      <ProcessName>dotfuscator</ProcessName>
    </Process>
    <Process>
      <ProcessName>signability</ProcessName>
    </Process>
    <Process>
      <ProcessName>Catalyst</ProcessName>
    </Process>
    <Process>
      <ProcessName>Iexplore</ProcessName>
    </Process>
    <Process>
      <ProcessName>idttool</ProcessName>
    </Process>
    <Process>
      <ProcessName>MCMerge</ProcessName>
    </Process>
    <CommandLine>
      <Pattern>Windows Installer</Pattern>
    </CommandLine>
    <CommandLine>
      <Pattern>idttool.exe</Pattern>
    </CommandLine>
    <CommandLine>
      <Pattern>MCMerge.exe</Pattern>
    </CommandLine>
    <CommandLine>
      <Pattern>SoapSuds.exe</Pattern>
    </CommandLine>
  </ProcessDetection>
  <WindowDetection>
    <Window>
      <Text>Dotfuscator</Text>
    </Window>
    <Window example="1">
      <Text>Sample Rogue Application</Text>
    </Window>
    <Window>
      <Text>Windows Installer Editor</Text>
    </Window>
    <Window>
      <Text>Microsoft SoapSuds Utility</Text>
    </Window>
    <Window>
      <Text>Catalyst.exe</Text>
    </Window>
    <Window>
      <Text>Microsoft Visual C</Text>
    </Window>
    <Window>
      <Text>Just-In-Time</Text>
    </Window>
    <Window>
      <Text>end Program</Text>
    </Window>
    <Window>
      <Text>Debugger</Text>
    </Window>
    <Window>
      <Text>Wise For Windows Installer</Text>
    </Window>
    <Window>
      <Text>WfWI.exe</Text>
    </Window>
    <Window>
      <Text>Windows Security</Text>
    </Window>
    <Window>
      <Text>Access is denied. - Internet Explorer</Text>
    </Window>
    <Window>
      <Text>MCMerge.exe</Text>
    </Window>
    <Window>
      <Text>Signability</Text>
    </Window>
    <Window>
      <Text>IDTtool.exe</Text>
    </Window>
  </WindowDetection>
  <DialogDetection>
    <Pattern>
      <DialogText>Wise has detected invalid component key paths</DialogText>
      <ButtonText>No</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Runtime Error!</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>This application has requested the Runtime to terminate it</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Utility has encountered a problem</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Invalid Dotfuscator Serial Number.</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>An unhandled win32 exception occured</DialogText>
      <ButtonText>No</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Do You want to debug</DialogText>
      <ButtonText>No</ButtonText>
    </Pattern>
    <Pattern example="1">
      <DialogText>Citrix Planb Build Blocker</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Run-time error</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>root Element is missing</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Remember my credentials</DialogText>
      <ButtonText>Remember my credentials</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Do you want to correct these features before continuing</DialogText>
      <ButtonText>No</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>This merge module does not meet the Windows Installer SDK merge module naming convention</DialogText>
      <ButtonText>No</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>invalid component key path</DialogText>
      <ButtonText>Cancel</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>contains an invalid path</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Click on OK to terminate the program</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Click on CANCEL to debug the program</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>A corrupt or invalid license file was detected</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>The instruction at \".+\"</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>The operation has timed out</DialogText>
      <ButtonText>Cancel</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>An unhandled win32 exception occured</DialogText>
      <ButtonText>No</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Please enter registration information</DialogText>
      <ButtonText>OK</ButtonText>
    </Pattern>
    <Pattern>
      <DialogText>Windowes Cannot end this program</DialogText>
      <ButtonText>Cancel</ButtonText>
      <Comment><![CDATA[
The process owning this dialog is: csrss.exe 
the process / Windows relationship is not currently checked.
The csrss.exe is always in the lost of processes.
Therefore we wont't hunt for this dialog currently.
]]></Comment>
    </Pattern>
  </DialogDetection>
  <!-- 

Signability: 

Run-time error 
ActiveX  component can't create object
IDTTool: 
???

Fusion / Runtime: 
Re-installing the application may fix this problem
Unhandled exception has occured in your application

-->
</Configuration>
