<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
   <Product Id="6f11198b-7aac-4cc1-ab50-ca7d108243ca" 
            Name = "Wise Popup Hunter Tool" Language="1033"
            Version = "1.0.0.0" Manufacturer="Citrix Corporation">
      <Package Id = "????????-????-????-????-????????????"
                Description="Wise Popup Hunter Installer package"
                Comments="This is Windows Installer of the Build Farm Health Monitoring Tool"
                Manufacturer="Citrix Inc." InstallerVersion="200" Compressed="yes" />
 
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
 
      <?include appwiz.wxi ?> 

      <Directory Id = "TARGETDIR" Name = "SourceDir">
         <Directory Id = "ProgramFilesFolder" Name = "PFiles">
            <Directory Id = "INSTALLDIR" Name = "BMH101" LongName = "Build Machine Health Program">
               <Component Id = "Engine" Guid = "6e812d93-fd18-4f2e-bb3c-fa1eb63466bb">
                  <File Id = "Application" Name = "pophunt.exe" DiskId = "1" 
                         src = "enemenurator.exe" >
                 <Shortcut Id="StartmenuPopupHunter" Directory="ProgramMenuDir" Name = "POPUP~1"
                         LongName="Popup Hunter" 
                         WorkingDirectory = "INSTALLDIR" Icon = "enemenurator.exe" IconIndex = "0" />
                  </File>
               </Component>


                <Component Id = "Manual" Guid = "016b9844-6254-4a1a-b03d-9722b4bb90d2">
                  <File Id = "Manual" Name = "Manual.pdf" DiskId = "1" src = "Manual.pdf" Vital = "no">
                 <Shortcut Id="PopupHunterManual" Directory="ProgramMenuDir" Name = "POPUP~2"
                         LongName="Popup Hunter Manual" 
                         WorkingDirectory = "INSTALLDIR"/>
                  </File>

                </Component>


                <Component Id="Config" Guid="2d1bea50-1369-4fda-9103-f5052cc7bd8e">
                   <File Id="configuration" Name="config.xml" DiskId="1" 
                          src="config.xml" />
               </Component>


      </Directory>
   </Directory>

   <Directory Id = "ProgramMenuFolder" Name = "PMenu" LongName = "Programs">
      <Directory Id = "ProgramMenuDir" Name = "POPUP~1" LongName = "Popup Hunter"/>
   </Directory>

   <Directory Id="DesktopFolder" Name="Desktop" />

</Directory>




<Feature Id = "Complete" Title = "Complete Install" Description = "The complete package -  all Features"  Level = "1" TypicalDefault = "install" Display = "expand" 
ConfigurableDirectory = "INSTALLDIR">
   <Feature Id = "MainProgram" Title = "Engine" Description = "Main Feature"  Level="1" TypicalDefault = "install">
      <ComponentRef Id = "Engine" />
      <ComponentRef Id = "Config" />
   </Feature>

   <Feature Id="Documentation" Level="1">
      <ComponentRef Id = "Manual" />
   </Feature>
   <Feature Id = "Configuration" Level="1">
      <ComponentRef Id = "Config" />
   </Feature>
</Feature>

     <Icon  Id = "enemenurator.exe" SourceFile  = "MainIcon.ico" />
<!-- 
     <Condition Message="Windows XP">VersionNT != 501</Condition>
     <Condition Message="Windows Server 2003">VersionNT != 502</Condition>
     <Condition Message="The [Name] was not tested under Windows Vista">VersionNT != 600</Condition>  -->


<Property Id="INSTALLDIR">
<RegistrySearch Id='AcmeFoobarRegistry' Type='directory'
Root='HKLM' Key='Software\Acme\Foobar 1.0' Name='InstallDir' /> </Property>

<Property Id="FILEEXISTS">
<DirectorySearch Id="CheckFileDir" Path="[INSTALLDIR]" Depth="0"> <FileSearch Id="CheckFile" Name="Lookfor.txt" /> </DirectorySearch> </Property>
   </Product>


</Wix>


      
