<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- NOTE: the Selenium.WebDriver.ChromeDriver and similar dependencies are in the packages.config of the Test project -->
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net40" />
  <package id="YamlDotNet" version="5.2.1" targetFramework="net40" />
  <package id="YamlSerializer" version="1.0.0" targetFramework="net40" />
</packages>
