# build folders 
**/[Bb]in/
**/[Oo]bj/

# mstest test results
TestResults

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio profiler
*.psess
*.vsp
*.vspx


# ReSharper is a .NET coding add-in
_ReSharper*

# NuGet Packages Directory
**/.nuget
**/packages/**


